body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;

}

.error{
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

h1{
    color: rgb(118, 177, 100);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SectionTopPage{

    position:absolute;
    top: -20px;
    width: 100%;
    height: 110%;
    background-color: white;

}
.svgWave{

    position: fixed;
    bottom: 0px;

}
.svgWaveCaracteristique{

    fill:rgb(118, 177, 100);
    fill-opacity:1;
}

.blockFormulaire{
    display:flex;
    position: absolute;
    top: 0%;
    margin-top: 80px;
    border-radius: 12px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;

}

.blockTextInput{
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    text-decoration:none;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    flex-direction: column;
}

label{
    left: 10px;
    padding: 10px;
}

label[required]::after{
    content: '*';
    color: red;
}

input[type="submit"]:hover{
    cursor: pointer;
}

.fieldInput{
    position: relative;
    width:100%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 2em;
    padding: 10px;
}

.blockButtonSendMessage{

    position: relative;
    width:100% ;
    height: 10%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
}
.pasIncrit{
    
    display: flex;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.pasIncrit a{
    color: rgb(118, 177, 100);

    text-decoration:none;

}
.pasIncrit a :hover{
    color: rgb(118, 177, 100);
    
}

.register{
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
}

.submit_btn{
    display: block;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    border-width: thin;
    border-color: none;
    font-family: sans-serif;
    color: white;
    border-color:#3a3a3a;
    font-weight: bold;
    background-color: rgb(118, 177, 100);
    transition: 0.3s;
    float: right;
}

.submit_btn:hover {
    background: #568a37;
    font-weight: bold;
    transition:0.3s;
}