@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=The+Nautigal:wght@700&display=swap');
@keyframes obstacleAnimation {
    0%   {transform: translateX(40px);}
    100% {transform: translateX(-840px);}
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.svgWave{

    position: fixed;
    bottom: 0px;

}
.svgWaveCaracteristique{

    fill:rgb(118, 177, 100);
    fill-opacity:1;
}

.blockGameWindow{

    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#obstacle{

    position: absolute;
    /* width: 60px; */
    max-height:40px;
    right: 0px;
    bottom: 0px;
    /* background-color: green; */
}

.gameWindow{
    
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius:6px;
    box-shadow: 0px 0px 8px 1px rgb(217, 217, 217);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    
}

.blockPoint{
    position: absolute;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}
#playerSprite{

    position: absolute;
    max-width: 80px;
    /* height: 160px; */
    /* background-color: rgb(130, 233, 99); */
    bottom: 0px;
}

.blockmarks{
    text-align: center;
    justify-content: center;
    position:absolute;
    width: 30%;
    min-width: 350px;
    height: 25%;
    display: flex;
    text-decoration:none;
    flex-direction: column-reverse;
    font-family: 'Roboto', sans-serif;
    /*justify-content: flex-start;*/
    margin-top:  800px;

    
}
.mark{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    
}
.podium{
    display: flex;
    align-content: flex-end;
    position: relative;
    
    border: 5px;
    height: 70%;
    width: 100%;
    flex-direction: row;
    
    padding-top: 40px;
      
    
}

.mark1{
    min-width: 100px;
    height: 100%;
    color: rgb(1, 1, 1);
    background: gold;
    width: 30%;
    animation-name: mark1;
    animation-duration: 1s;
    order: 2;
    margin-left: 20px;
    border-radius: 5px;
    animation-fill-mode: forwards;
    position: relative;
}
.mark1 :hover{
    
}
.mark2{
    min-width: 100px;
    height: 70%;
    top: 30%;
    color: rgb(1, 1, 1);
    align-self: left;
    background: silver;
    width: 30%;
    order: 1;
    margin-left: 20px;
    border-radius: 5px;
    animation-name: mark2;
    animation-duration: 1s;
    position: relative;
    
   
}
.mark2 :hover{
    background: red;
    width: 200px;
}
.mark3{
    min-width: 100px;
    height: 45%;
    top: 55%;
    color: rgb(1, 1, 1);
    align-self: right;
    background: brown;
    width: 30%;
    
    order: 3;
    margin-left: 20px;
    border-radius: 5px;
    animation-name: mark3;
    animation-duration: 1s;
    position:relative;
}
.mark3 :hover{
    
}
@keyframes mark1{
    0%         {height: 0%;
    top:100%;background-color: white;
    }    
    100%      {height: 100%;
    top:0%;background-color: gold;}
}
@keyframes mark2{
    0%         {height: 0%;
    top:100%;background-color: white}    
    100%       {height: 70%;
    top:30%;background-color: silver}
}
@keyframes mark3{
    0%         {height: 0%;
    top:100%;background-color: white}    
    100%       {height: 45%;
    top:55%;background-color: brown}
}