@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=The+Nautigal:wght@700&display=swap');
@keyframes obstacleAnimation {
    0%   {transform: translateX(40px);}
    100% {transform: translateX(-840px);}
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.svgWave{

    position: fixed;
    bottom: 0px;

}
.svgWaveCaracteristique{

    fill:rgb(118, 177, 100);
    fill-opacity:1;
}

.blockGameWindow{

    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#obstacle{

    position: absolute;
    /* width: 60px; */
    max-height:40px;
    right: 0px;
    bottom: 0px;
    /* background-color: green; */
}

.gameWindow{
    
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius:6px;
    box-shadow: 0px 0px 8px 1px rgb(217, 217, 217);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    
}

.blockPoint{
    position: absolute;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}
#playerSprite{

    position: absolute;
    max-width: 80px;
    /* height: 160px; */
    /* background-color: rgb(130, 233, 99); */
    bottom: 0px;
}

.blockmarks{
    text-align: center;
    position: absolute;
    width: 30%;
    height: 25%;
    display: flex;
    text-decoration:none;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    margin-top: 50%;
    
}
.mark{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    
}
.podium{
    display: flex;
    
    position: absolute;
    
    border: 5px;
    height: 70%;
    width: 100%;
    flex-direction: raw;
    
    padding-top: 40px;
      
    
}

.mark1{
    height: 100%;
    color: white;
    background: gold;
    width: 30%;
    animation-name: mark1;
    animation-duration: 1s;
    order: 2;
    margin-left: 20px;
    border-radius: 5px;

}
.mark2{
    color: white;
    align-self: left;
    background: silver;
    width: 30%;
    order: 1;
    margin-left: 20px;
    border-radius: 5px;
    animation-name: mark2;
    animation-duration: 1s
    
   
}
.mark3{
    color: white;
    align-self: right;
    background: brown;
    width: 30%;
    order: 3;
    margin-left: 20px;
    border-radius: 5px;
    animation-name: mark3;
    animation-duration: 1s
}
@keyframes mark1{
    0%         {height: 0%;}
    100%       {height: 100%;}
}
@keyframes mark2{
    0%         {height: 0%;}
    100%       {height: 100%;}
}
@keyframes mark3{
    0%         {height: 0%;}
    100%       {height: 100%;}
}