body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}

.error{
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

h1{
    color: rgb(118, 177, 100);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq{
    display:flex;
    position: relative;
    margin-top: 100px;
    border-radius: 12px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
    width: 80%;

}

.question-answer{
    background-color: #ecf0f1;
    position: relative;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
}

.question-answer::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #bdc3c7;
    bottom: -5px;
    z-index: -1;
    border-radius: 5px;
}

.question{
    padding: 20px;
    margin: 0;
}

.question i{
    float: right;
}

.answer{
    display: none;
    margin: 0 20px 20px 20px;
}