@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=The+Nautigal:wght@700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}



.blockProfil{
    position: relative;
    /* top: 8%; */
    width: 100%;
    height:160px;
    /* margin-bottom: 200px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.blockProfilImage{
    position: relative;
    width: 8%;
    height: 80%;
    left: 0px;
    /* background-color: green; */

}

.imageProfil{

    position: absolute;
    max-height: 100%;
    /* height: 100%; */
    border-radius: 50%;
    background-color: rgb(60, 237, 84);
}

.blockProfilGestion{
    position: relative;
    width:40%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
}

.profilName{
    left: 0px;
    padding-right: 60px;
    font-size: 30px;
    font-weight: bold;
}

.modifyName{
    text-decoration: underline;
    cursor: pointer;
}


.blockGraph{
    position: relative;
    /* top:26%; */
    width: 100%;
    height: 80%;
    /* top: 40%; */
    /* background-color: rgb(0, 255, 119); */
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;

}


.blockCanvasMyChart{

    position: relative;
    height:80%;
    width: 60%;
    margin: 10%;
    border-radius: 20px;
    padding:20px;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    background-color: white;
    /* transition: 1s;  */
}

.myChart{
    position: relative;
    height:100%;
    width: 100%;
    /* transition: 1s; */
} 

.blockAddProduct{
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
}
.inputText{
    background-color: rgb(240, 240, 240);
    margin: 40px;
    padding: 20px;
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 12px;
}

.blockPopUp{
    position: fixed;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    width: 100%;
    height:10%;
    
}
.popUp{

    position: relative;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    background-color: #2ecc71;
    border-radius: 12px;
    box-shadow: 0px 0px 9px 1px rgb(206, 206, 206);


}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.success{
    background-color: #2ecc71;
}

#snackbar.error{
    background-color: #e74c3c;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}