@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.dialogBoxContainer{

    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight:bold;
    overflow: hidden;

}

.open{

    display: flex;
}

.dialogBox{

    position: absolute;
    height: 280px;
    width:540px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-shadow: 0px 0px 8px 1px rgb(44, 44, 44);
    opacity: 1;
}

.blockTitre{

    position: relative;
    height: 18%;
    width: 100%;
    top: 18px;
    display: flex;
    align-items: center;
    color: rgb(41, 41, 41);
    left: 60px;
    /* justify-content: center; */
    /* background-color: yellow; */

}

.blockField{

    position: relative;
    height: 14%;
    width: 100%;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */

}

.field{

    position: absolute;
    height:80%;
    width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    border: none;
    background-color: #dbdbdb;

}

.blockButtons{

    position: absolute;
    bottom: 12%;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;  

}




@media (max-width: 1000px) {

    .dialogBox{

        height: 66%;
        width:80%;
        border-radius: 14px;
    }

    .blockTitre{

        position: relative;
        height: 18%;
        width: 100%;
        top: 14px;
        left:0px;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blockField{

        position: relative;
        height: 10%;
        width: 100%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .field{border-radius: 16px;
    }

    .blockButtons{

        flex-direction: column;
        height: 40%;
        bottom: 8%;
    }
 
    
    
}