body {
    padding: 0px;
    margin: 0px;
    background-color: #8cfd7d;
}

.topPage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}


.svgWave{
    position: fixed;
    width: 100%;
    bottom: 0%;
    fill: rgb(118, 177, 100);
}

.blockAll{
    position: absolute;
    height: 200%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blockTitre {
    position: relative;
    width: 80%;
    height: 6%;
    padding-top: 100px;

}

.presTeam{
    position: relative;
    width: 80%;
    height: 14%;
}

.presTeamText{
    margin: 20px;
}

.blockProfil{
    position: relative;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.blockProfilImage{
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageProfil{
    position: absolute;
    width: 100%;
    max-height: 100%;
    left: 0%;
    top: 0px;
    border-radius: 50%;
}
.blockProfilDescription{
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presProject{
    background-color: purple;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 20px;
}




