body{
        
    padding: 0px;
    margin: 0px;
    background: white

}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
}

.SectionTopPage{

    position:absolute;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color: rgb(118, 177, 100);

}

.svgWave{

    position: absolute;
    bottom: 0px;

}

.svgWaveCaracteristique{

    fill:white;
    fill-opacity:1;
}

.blockTextPhoneTop{

    position: relative;
    height: 30%;
    width: 40%;
    font-family: sans-serif;
    left: 9%;
    top: 30%;

}

.blockButtonTop{
    position: absolute;
    margin: 2%;
}


.blockTextPhoneTop{

    position: absolute;
    height: 30%;
    width: 40%;
    font-family: sans-serif;
    left: 9%;
    top: 20%;

}

.titreBlockTextPhoneTop{

    display: flex;
    /* align-items: center; */
    text-decoration:none;
    font-weight: bold;
    margin: 2%;
    color: white;

}

.TextPhoneTop{

    margin: 2%;
    color: rgb(59, 59, 59);

}

.blockButtonTop{

    position: absolute;
    margin: 2%;
}

