body{
        
    padding: 0px;
    margin: 0px;

}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
}

.SectionTopPage{
    top: -20px;
    width: 100%;
    height: 100%;
}

.svgWave{
    position: absolute;
    bottom: 0px;
}

.svgWaveCaracteristique{
    fill: rgb(118, 177, 100);
    fill-opacity: 1;
}

.blockTextPhoneTop{

    position: relative;
    height: 30%;
    width: 40%;
    font-family: sans-serif;
    left: 9%;
    top: 30%;

}

.blockButtonTop{
    position: absolute;
    margin: 2%;
}


.blockTextPhoneTop{

    position: absolute;
    height: 30%;
    width: 40%;
    font-family: sans-serif;
    left: 9%;
    top: 20%;

}

.titreBlockTextPhoneTop{

    display: flex;
    /* align-items: center; */
    text-decoration:none;
    font-weight: bold;
    margin: 2%;
    color: rgb(118, 177, 100);

}

.TextPhoneTop{

    margin: 2%;
    color: rgb(59, 59, 59);

}

.blockButtonTop{
    position: absolute;
    margin: 2%;
}

.register_button{
    display: inline-block;
    padding: 12px 20px;
    border-radius: 25px;
    margin: 5px;
    text-decoration: none;
    font-family: sans-serif;
    color:  rgb(118, 177, 100);
    background-color: white;
    border-style: solid;
    border-width: thin;
    transition: .4s;
    margin-right: 20px;
     
}

.register_button:hover {
    transform: scale(1.1);
    transition:0.2s;
}

.login_button{
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-color: none;
    /* A CHANGER: DEBUT */
    font-family: sans-serif;
    border-color:#3a3a3a;
    color: #3a3a3a;
    background-color: white;
    /* A CHANGER: FIN */  
    transition: 0.3s;
}

.login_button:hover {
    transform: scale(1.1);
    transition:0.3s;
}

.blockTile {
    display: flex;
    flex-direction: row;
    position: relative;
    height:100%;
    top: 550px;
}

.blockSubject {
    top: 0px;
    background-color: rgb(144, 238, 144);
    border-radius: 2em;
    box-shadow: 5px 5px 5px red;
    margin:40px;
    margin-left: 100px;
    margin-right: 100px;
    border: 4mm ridge
}

.blockTitle {
    position: relative;
    height: 10%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin:20px;
    margin-top: 5px;
    border: solid green;
}

.blockDate {
    position: relative;
    height: 10%;
    display: flex;
    align-items: center;
    text-decoration:none;
    margin: 20px;
    margin-top: 5px;
    border: solid green;
}

.blockParagraphe {
    position: relative;
    height: 55%;
    display: flex;
    align-items: center; 
    text-decoration:none;
    justify-content: center;
    margin:20px;
    border: solid green;
}

p {
    color: black;
    position: relative;
    display: flex;
    align-items: center; 
    text-decoration:none;
    justify-content: center;
    margin:20px;
    font-family: 'Roboto', sans-serif;
}

.blockSubject:hover {
    background-color: white;
    cursor: pointer;
}