@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=The+Nautigal:wght@700&display=swap');
@keyframes backgroundAnimation {
    0%   {transform: translateX(0px);}
    100% {transform: translateX(-800px);}
} 

@keyframes runAnimation {
    from { transform:rotate(0deg);} 
      to { transform:rotate(360deg); }
 }
 


body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.svgWave{

    position: fixed;
    bottom: 0px;

}
.svgWaveCaracteristique{

    fill:rgb(118, 177, 100);
    fill-opacity:1;
}

.blockGameWindow{

    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
   
}

#obstacle{

    position: absolute;
    /* width: 60px; */
    max-height:40px;
    right: 0px;
    bottom: 20%; 
    /* background-color: green; */
}

#playerSprite {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20%;
    
}

.gameWindow{
    
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius:6px;
    box-shadow: 0px 0px 8px 1px rgb(217, 217, 217);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    /* overflow: hidden; */
}


h1{
    font-family: 'Roboto', sans-serif;
    
}

.blockPoint{
    position: absolute;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: white;
}



#sol{

    position: absolute;
    background-repeat: repeat-x;
    bottom: 0px;
    width:200%;
    height: 20%;
    left: 0px;


}
#background{

    position: absolute;
    top: 0px;
    width:200%;
    height:80%;
    left: 0px;


}








.blockmarks{
    text-align: center;
    justify-content: center;
    position:absolute;
    width: 30%;
    min-width: 350px;
    height: 25%;
    display: flex;
    text-decoration:none;
    flex-direction: column-reverse;
    font-family: 'Roboto', sans-serif;
    /*justify-content: flex-start;*/
    margin-top:  800px;

    
}
.mark{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin-top: 10px;
    
}
.podium{
    display: flex;
    align-content: flex-end;
    position: relative;
    border: 5px;
    height: 70%;
    width: 100%;
    flex-direction: row;
    padding-top: 40px;

}
/*.podium:hover{
    box-shadow: 10px,10px;
    transform: scale(1.1);
    transition: 0.5s ease;
    
}*/
.mark1{
    min-width: 100px;
    height: 100%;
    top: 0%;
    color: rgb(1, 1, 1);
    background: gold;
    width: 30%;
    animation-name: mark1;
    animation-duration: 1s;
    order: 2;
    margin-left: 20px;
    border-radius: 5px;
    animation-fill-mode: forwards;
    position: relative;
    box-shadow: 10px,10px;
}
.mark1:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.mark2{
    min-width: 100px;
    height: 70%;
    top: 30%;
    color: rgb(1, 1, 1);
    align-self: left;
    background: silver;
    width: 30%;
    order: 1;
    margin-left: 20px;
    border-radius: 5px;
    animation-name: mark2;
    animation-duration: 1s;
    position: relative;
    box-shadow: 10px,10px;
   
}
.mark2:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    
}
.mark3{
    min-width: 100px;
    height: 45%;
    top: 55%;
    color: rgb(1, 1, 1);
    align-self: right;
    background: brown;
    width: 30%;
    box-shadow: 10px,10px;
    order: 3;
    margin-left: 20px;
    border-radius: 5px;
    animation-name: mark3;
    animation-duration: 1s;
    position:relative;
}
.mark3:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    
}
@keyframes mark1{
    0%         {height: 0%;
    top:100%;background-color: white;
    }    
    100%      {height: 100%;
    top:0%;background-color: gold;}
}
@keyframes mark2{
    0%         {height: 0%;
    top:100%;background-color: white}    
    100%       {height: 70%;
    top:30%;background-color: silver}
}
@keyframes mark3{
    0%         {height: 0%;
    top:100%;background-color: white}    
    100%       {height: 45%;
    top:55%;background-color: brown}
}
@media only screen and (max-width: 1000px) {
     .blockmarks{
        margin-top:  600px;
     }
}
@media only screen and (max-width: 420px) {
     .blockmarks{
        margin-top:  700px;
     }
}