body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
}

.SectionTopPage{
    top: -20px;
    width: 100%;
    height: 100%;
}

.blockTextPhoneTop{

    position: relative;
    height: 30%;
    width: 40%;
    font-family: sans-serif;
    left: 9%;
    top: 30%;

}

.jumbotron{
    position: relative;
    margin-top: 20%;
}

.home{
    position: relative;
    top: -40px;
    width: 40%;
    margin-left: 9%;
}

.title{
    text-decoration:none;
    font-weight: bold;
    margin: 2%;
    color: rgb(118, 177, 100);

}

.description{
    
    margin: 2%;
    color: rgb(59, 59, 59);

}

.buttons{
    margin: 40px;
}

.register_button{
    display: inline-block;
    padding: 12px 20px;
    border-radius: 25px;
    margin: 5px;
    text-decoration: none;
    font-family: sans-serif;
    color:  rgb(118, 177, 100);
    background-color: white;
    border-style: solid;
    border-width: thin;
    transition: .4s;
    margin-right: 20px;
     
}

.register_button:hover {
    transform: scale(1.1);
    transition:0.2s;
}

.login_button{
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-color: none;
    /* A CHANGER: DEBUT */
    font-family: sans-serif;
    border-color:#3a3a3a;
    color: #3a3a3a;
    background-color: white;
    /* A CHANGER: FIN */  
    transition: 0.3s;
}

.login_button:hover {
    transform: scale(1.1);
    transition:0.3s;
}

.cards{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
}

.card{
    width: 25%;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(246,247,246);
    margin: 50px;
    box-shadow: 0 0 12px 0 grey;
    transition: transform 0.1s;
}

.card:hover{
    transform: scale(105%);
}

.card p{
    margin: 0;
}

.card .card-title{
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
}

.card .card-date{
    font-style: italic;
    font-size: 0.7rem;
}

.card .card-preview{
    font-size: 1rem;
    margin-top: 20px;
    overflow: hidden;
}

@media screen and (max-width: 1700px) {
    .home {
        position: relative;
        top: 100px;
        width: 80%;
    }
    .card{
        width: 480px;
    }
}

@media screen and (max-width: 600px) {
    .home {
        position: relative;
        top: 100px;
        width: 80%;
    }
}
