html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
        
    padding: 0px;
    margin: 0px;

}
h1{
    color: rgb(118, 177, 100);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.box{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svgWave{

    position: fixed;
    bottom: 0px;

}
.svgWaveCaracteristique{

    fill:rgb(118, 177, 100);
    fill-opacity:1;
}

.blockFormulaire{
    display:flex;
    margin-bottom: 33px;
    border-radius: 12px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;

}

.error{
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.blockTextInput{
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    text-decoration:none;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    flex-direction: column;
}
label{
    left: 10px;
    padding: 10px;
}

.search-input{

    position: relative;
    width:100%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 2em;
    padding: 10px;


}

.formulaire{
    width: 300px;
}

.blockButtonSendMessage{

    position: relative;
    width:100% ;
    height: 10%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
}
.sublinks{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.sublinks a{
    color:rgb(23, 34, 20); 
    text-decoration:none;
    margin: 5px;
    display: block;
}
.sublinks :hover{
    color: #375d22;
    transition: 0.3s
}
.square_btn2{
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    border-width: thin;
    border-color: none;
    /* A CHANGER: DEBUT */
    font-family: sans-serif;
    color: white;
    border-color:#3a3a3a;
    font-weight: bold;
    background-color: rgb(118, 177, 100);
}

.square_btn2:hover {

    background: #568a37;
    /* A CHANGER: DEBUT */
   
    font-weight: bold;
    /* A CHANGER: FIN */
    transition:0.3s;
}

input[type="submit"]:hover{
    cursor: pointer;
}