@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

body{

    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

.contactSection{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}


.blockAll{

    position: absolute;
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    /* box-shadow: 0px 0px 8px  1px rgb(255, 255, 255); */
    /* background-color: red; */
    transition: 0.6s ;
    flex-direction: column;

}

.blockInformation{

    position: relative;
    width:60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
    border-radius: 12px;
    /* left: 0px; */
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;

}

.blockTitreInformation{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 30px ;
    border-radius: 12px;
    /* color:#90e785; */
}


.blockTextInformation{
    position:relative;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);

}
.blockFormulaire{

    position: relative;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /* right: 0px; */
    display: flex;
    border-radius: 12px;
    /* align-items: center; */
    text-decoration:none;
    justify-content: center;

}

.blockTextInput{
    position: relative;
    width: 360px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
}
label{
    left: 10px;
    padding: 10px;
}

.search-input{

    position: relative;
    width:74%;
    height: 90%;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 2em;
    padding-left: 10px;


}


.blockAllTextArea{

    position: relative;
    width: 100%;
    height:40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;

}


textarea{
    position: absolute;
    width: 80%;
    height:70%;
    font-family: 'Roboto', sans-serif;
    resize: none;
    border: none;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 8px;
}

.blockButtonSendMessage{

    position: relative;
    width:100% ;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
}



.square_btn1{

    color: white;
    background-color: #90e785;
}
.square_btn1:hover {
    
    background: white;
    color: #90e785;
    border-color: #90e785;;
    transition:0.2s;
}


@media screen and (max-width: 1000px) {

    .blockAll{
        top: 0%;
        width: 90%;
        height: 100%;
        flex-direction: column;
        background-color: #fff;
        
    }

    .blockInformation{

        position: relative;
        width: 90%;
        height: 40%;
    }
    .blockFormulaire{
        position: relative;
        width: 90%;
        height: 40%;

    }
    .blockTextInput{
            width: 400px;
        }

    .blockAllTextArea{
        height:140px;
        margin-bottom: 20px;
    }
}