html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{    
    padding: 0px;
    margin: 0px;
}

h1{
    color: rgb(118, 177, 100);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.box{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockInformation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.information{
    display:flex;
    border-radius: 12px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
}

.error{
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.success{
    color: rgb(118, 177, 100);
    background-color: rgba(0, 255, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: rgb(118, 177, 100);
    border-width: 1px;
}

.blockText{
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    text-decoration:none;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    flex-direction: column;
}

.sublinks{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.sublinks a{
    color:rgb(23, 34, 20); 
    text-decoration:none;
    margin: 5px;
    display: block;
}
.sublinks :hover{
    color: #375d22;
    transition: 0.3s
}

label{
    left: 10px;
    padding: 10px;
}

.fieldInput{
    position: relative;
    width:100%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 2em;
    padding: 10px;
}

.profileForm{
    width: 300px;
}

.button{
    position: relative;
    width:100% ;
    height: 10%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
}

.buttonModif{
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    border-width: thin;
    border-color: none;
    /* A CHANGER: DEBUT */
    font-family: sans-serif;
    color: white;
    border-color:#3a3a3a;
    font-weight: bold;
    background-color: rgb(118, 177, 100);
}

.buttonModif:hover {
    background: #568a37;
    font-weight: bold;
    transition:0.3s;
}

input[type="submit"]:hover{
    cursor: pointer;
}