body{
        
    padding: 0px;
    margin: 0px;

}
h1{
    color: rgb(118, 177, 100);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 88px;
}
.box{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.SectionTopPage{

    position:absolute;
    top: -20px;
    width: 100%;
    height: 110%;
    background-color: white;

}
.svgWave{

    position: absolute;
    bottom: 0px;

}
.svgWaveCaracteristique{

    fill:rgb(118, 177, 100);
    fill-opacity:1;
}

.blockFormulaire{

    position: absolute;
    width: 600px;
    
    /* background-color: rgb(141, 83, 83); */
    /* left: 34% */
    top: 0%;
    display:flex;
    border-radius: 12px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;

}

.blockTextInput{
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    text-decoration:none;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    flex-direction: column;
}
label{
    left: 10px;
    padding: 10px;
}

.search-input{

    position: relative;
    width:100%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 2em;
    padding-left: 10px;


}
.blockButtonSendMessage{

    position: relative;
    width:100% ;
    height: 10%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
}
.pasIncrit{
    
    display: flex;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.pasIncrit a{
    color: rgb(118, 177, 100);

    text-decoration:none;

}
.pasIncrit a :hover{
    color: rgb(118, 177, 100);
    
}
.square_btn2{
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    /* border-style: solid; */
    border-width: thin;
    border-color: none;
    /* A CHANGER: DEBUT */
    font-family: sans-serif;
    color: white;
    border-color:#3a3a3a;
    font-weight: bold;
    background-color: rgb(118, 177, 100);
    /* A CHANGER: FIN */  
    transition: 0.3s;
}

.square_btn2:hover {

    background: #568a37;
    /* A CHANGER: DEBUT */
   
    font-weight: bold;
    /* A CHANGER: FIN */
    transition:0.3s;
}