@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=The+Nautigal:wght@700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}



.blockProfil{
    position: absolute;
    top: 8%;
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.blockProfilImage{
    position: relative;
    width: 10%;
    height: 100%;
    /* background-color: green; */

}

.imageProfil{

    position: absolute;
    max-width: 100%;
    /* height: 100%; */
    border-radius: 50%;
    background-color: rgb(60, 237, 84);
}

.blockProfilGestion{
    position: relative;
    width:40%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
}

.profilName{
    left: 0px;
    padding-right: 60px;
    font-size: 30px;
    font-weight: bold;
}

.blockGraph{
    position: absolute;
    top:26%;
    width: 100%;
    height: 80%;
    /* background-color: rgb(0, 255, 119); */
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;

}


.blockCanvasMyChart{

    position: relative;
    height:80%;
    width: 60%;
    margin: 10%;
    border-radius: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    /* background-color: red; */
    /* transition: 1s;  */
}

#myChart{
    position: relative;
    height:100%;
    width: 100%;
    /* transition: 1s; */
} 

