@keyframes obstacleAnimation {
    0%   {transform: translateX(40px);}
    100% {transform: translateX(-840px);}
}


body{
    padding: 0;
    margin: 0;
}

.blockGameWindow{

    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    text-decoration:none;
    justify-content: center;
    flex-direction: column;
    font-family: montserrat;
}

#obstacle{

    position: absolute;
    /* width: 60px; */
    max-height:40px;
    right: 0px;
    bottom: 0px;
    /* background-color: green; */
}

.gameWindow{
    
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius:6px;
    box-shadow: 0px 0px 8px 1px rgb(217, 217, 217);
    overflow: hidden;
}

.blockPoint{
    position: absolute;
    padding: 40px;
    font-family: Montserrat;
}
#playerSprite{

    position: absolute;
    width: 80px;
    height: 160px;
    background-color: red;
    bottom: 0px;
}