/* Style bottomPage  */

body{
    /* MODE CLAIR  */
    background-color: white;

}

.blockBottomAll{

    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    font-family: montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    /* MODE CLAIR */
    background-color: rgb(26, 26, 26);

    
}

.grid-container {
    height: 80%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    gap: 20px 40px;
    grid-template-areas:
        "block1 block2 block3"
        "SocialApplication SocialApplication SocialApplication";
}

.SocialApplication {

    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-area: SocialApplication;
}

.SocialAppLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;

}

.LogoSocial{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;

    /* MODE CLAIR */
    background-color: rgb(255, 255, 255);
    /* MODE SOMBRE */

}

.facebookLogo:hover{

    background-color: rgb(65, 67, 223);
    transition: 0.4s;
}
.instagramLogo:hover{

    background-color: rgb(206, 99, 131);
    transition: 0.4s;
}

.TitreCard{

    position:absolute;
    padding-bottom: 4px;
    border-style: solid;
    border-width: 1px;
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom-color: rgb(241, 241, 241);
    font-size: 14px;
    color: rgb(241, 241, 241);

}

.labelCard{
    
    color: rgb(201, 201, 201);
    padding-bottom: 14px; 
    text-decoration: none;
}

.Card1 { grid-area: block1; }

.Card2 { grid-area: block2; }

.Card3 { grid-area: block3;
 }

.grid-container * {
    position: relative;
    /* border: 1px solid red; */
    
    }

