.svgWave{
    position: sticky;
    bottom: 0;
    transform: translateY(10px);
    z-index: -1000;
}

.svgWaveCaracteristique{
    fill: rgb(118, 177, 100);
    fill-opacity: 1;
}
.container{
    padding: 20px;
    background-color: rgb(26, 26, 26);
}

.container .columns{
    display: flex;
    justify-content: space-evenly;
}

.columns .column{
    margin: 0 40px 0 40px;
}

.SocialApplication {

    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-area: SocialApplication;
}

.SocialAppLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;

}

.LogoSocial{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;

    /* MODE CLAIR */
    background-color: rgb(255, 255, 255);
    /* MODE SOMBRE */

}

.facebookLogo:hover{

    background-color: rgb(65, 67, 223);
    transition: 0.4s;
}
.instagramLogo:hover{

    background-color: rgb(206, 99, 131);
    transition: 0.4s;
}

.column-title{
    padding-bottom: 4px;
    border-bottom: solid 1px rgb(241, 241, 241);
    font-size: 14px;
    color: rgb(241, 241, 241);

}

.column-link{
    display: block;
    margin: 5px 0 5px 0;
    color: rgb(201, 201, 201);
    padding-bottom: 14px; 
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .columns{
        flex-direction: column;
    }
}

