.question-answer{
    background-color: #ecf0f1;
    position: relative;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
}

.question-answer::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #bdc3c7;
    bottom: -5px;
    z-index: -1;
    border-radius: 5px;
}

.question{
    padding: 20px;
    margin: 0;
}

.question i{
    float: right;
}

.answer{
    margin: 0 20px 20px 20px;
}

.control{
    cursor: pointer;
    padding: 0 5px;
}

.button{
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #2ecc71;
    border-radius: 5px;
    cursor: pointer;
}

.button.disabled{
    background-color: #95a5a6;
    cursor: not-allowed;
}

#add-question{
    align-self: flex-start;
    padding: 10px;
    margin: 20px 10% 20px;
}

.modify-button{
    background-color: #2ecc71;
    float: right;
}

.delete-button{
    background-color: #e74c3c;
    float: right;
}

#modal-background{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 5;
}

#modal{
    display: none;
    opacity: 0;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 300px;
}

#modal .modal-title{
    font-size: 1.8rem;
    font-weight: bold;
}

#modal .buttons{
    bottom: 0;
}

#modal .buttons .accept{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #2ecc71;
    border: solid 2px #2ecc71;
    border-radius: 5px;
    cursor: pointer;
}


#modal .buttons .cancel{
    display: inline-block;
    padding: 5px; 
    margin: 5px;
    color: #e74c3c;
    border: solid 2px #e74c3c;
    border-radius: 5px;
    cursor: pointer;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.success{
    background-color: #2ecc71;
}

#snackbar.error{
    background-color: #e74c3c;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}