.users-table{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
}

.users-table-row{
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px black;
    padding: 10px 0 10px 0;
}

.title{
    font-weight: bold;
}

.users-table-col{
    --email-width: 35%;
    --user-type-width: 15%;
    width: calc((100% - var(--email-width) - var(--user-type-width))/3);
}

.users-table-col:nth-of-type(3){
    width: var(--email-width);
}

.users-table-col:nth-of-type(5){
    width: var(--user-type-width);
}

.users-table-col > p:not(.hint) {
    display: inline;
}

.hint{
    display: none;
    font-weight: bold;
}

.modify-pen:hover{
    cursor: pointer;
    color: #2186D6;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.success{
    background-color: #2ecc71;
}

#snackbar.error{
    background-color: #e74c3c;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media screen and (max-width: 800px) {
    .users-table-col, .users-table-col:nth-of-type(3), .users-table-col:nth-of-type(5){
        width: 100%;
    }

    .users-table-row{
        flex-direction: column;
    }

    .title{
        display: none;
    }

    .hint{
        display: inline;
    }
}