#modal-background{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 5;
}

#modal{
    display: none;
    opacity: 0;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 300px;
}

#modal .modal-title{
    font-size: 1.8rem;
    font-weight: bold;
}

#modal .buttons{
    bottom: 0;
}

#modal .buttons .accept{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #2ecc71;
    border: solid 2px #2ecc71;
    border-radius: 5px;
    cursor: pointer;
}


#modal .buttons .cancel{
    display: inline-block;
    padding: 5px; 
    margin: 5px;
    color: #e74c3c;
    border: solid 2px #e74c3c;
    border-radius: 5px;
    cursor: pointer;
}

.users-table{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
}

.users-table-row{
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px black;
    padding: 10px 0 10px 0;
}

.banned{
    color: red;
}

.title{
    font-weight: bold;
}

.users-table-col{
    --id-width: 6%;
    --email-width: 35%;
    --user-type-width: 12%;
    --controls-with: 8%;
    width: calc((100% - var(--email-width) - var(--user-type-width) - var(--id-width) - var(--controls-with))/3);
}

.users-table-col:nth-of-type(1){
    width: var(--id-width);
}

.users-table-col:nth-of-type(4){
    width: var(--email-width);
}

.users-table-col:nth-of-type(6){
    width: var(--user-type-width);
}

.users-table-col:nth-of-type(7){
    width: var(--controls-with);
}

.users-table-col:nth-of-type(7) i{
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.users-table-col:nth-of-type(7) i.fa-xmark{
    color: red;
}

.users-table-col > p:not(.hint) {
    display: inline;
}

.hint{
    display: none;
    font-weight: bold;
}

.modify-pen{
    color: black;
}

.ban{
    color: black;
}

.modify-pen:hover{
    cursor: pointer;
    color: #2186D6;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.success{
    background-color: #2ecc71;
}

#snackbar.error{
    background-color: #e74c3c;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media screen and (max-width: 800px) {
    .users-table-col, .users-table-col:nth-of-type(1), .users-table-col:nth-of-type(4), .users-table-col:nth-of-type(6), .users-table-col:nth-of-type(7){
        width: 100%;
    }

    .users-table-row{
        flex-direction: column;
    }

    .title{
        display: none;
    }

    .hint{
        display: inline;
    }
}